/* FORMATO DE LAS CARDS */
.card{
    background-color: #DCB780;
    margin: 10px;
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 1.5rem;
    opacity: 0.9;
    transition: 0.5s ease;
}

.card:hover{
    opacity: 1;
    margin: 1rem;
    object-fit: cover;
}
.col-md-3{
    background-color: white;
}

.card-body{
    background-color: white;
    margin: 10px;
    border-radius: 1rem;
}

.img-fluid{
    border-radius: 5px;
}

.col-md-4{
    padding: 1rem;
    padding-bottom: .5rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.row{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.btn{
    background-color: #DCB780;
    border-color: #DCB780;
}
.col btn:hover{
    width: 50px;

}

.titulo2{
    font-family: literata;
    margin-left: 3rem;
    margin-right: 3rem;
}




/* FORMATO DEL HEADER NAVEGADOR INICIA*/
.nav-link:hover{
    background-color: #dcb780a6;
    border-radius: 2rem;
}
.titulo{
    margin-top: 6rem;
    font-family: literata;
    margin-left: 3rem;
    margin-right: 3rem;
}
.navbar-brand:hover{
    opacity: 1;
    margin: 0.2rem;
    object-fit: cover;
}
.navbarbtn{
    background-color: #DCB780;
    border-color: #DCB780;
}


/*FORMATO DEL HEADER NAVEGADOR FINALIZA*/


/*FORMATO DEL FOOTER*/
.footer{
    background-color:  #A4A290;
}
.footer a{
    color: white;
}

.footer-p{
    color: white;
}
/*FORMATO DE FOOTER FINALIZA*/